.hdiwSection {
  background: linear-gradient(180deg, #fff 0, #f0ece8 52.07%, rgba(2, 32, 97, 0.2901960784) 118.82%);
}
@media only screen and (max-width: 767px) {
  .hdiwSection {
    padding-bottom: 150px;
  }
}
.hdiwSection .hdiwRow {
  justify-content: center;
  margin-left: -160px;
}
@media only screen and (max-width: 1024px) {
  .hdiwSection .hdiwRow {
    margin-left: -85px;
  }
}
@media only screen and (max-width: 767px) {
  .hdiwSection .hdiwRow {
    margin-left: 0px;
  }
}
.hdiwSection .hdiwRow .hdiwCols {
  max-width: calc(25% - 25px);
}
@media only screen and (max-width: 1024px) {
  .hdiwSection .hdiwRow .hdiwCols {
    max-width: calc(35% - 25px);
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .hdiwSection .hdiwRow .hdiwCols {
    max-width: 100%;
    width: 100%;
  }
}
.hdiwSection .hdiwRow .hdiwCols .hdiwCard {
  display: flex;
  align-items: center;
  width: 350px;
  height: 350px;
  border: 1px solid #ddd;
  cursor: pointer;
  background: var(--rv-white);
  border-radius: 50%;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  margin-right: -160px;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .hdiwSection .hdiwRow .hdiwCols .hdiwCard {
    margin: 0 auto;
    margin-bottom: -120px;
  }
}
.hdiwSection .hdiwRow .hdiwCols .hdiwCard:hover {
  transition: 1s;
  z-index: 1;
}
.hdiwSection .hdiwRow .hdiwCols .hdiwCard:hover .hdiwCardBody {
  transition: 0.5s;
}
.hdiwSection .hdiwRow .hdiwCols .hdiwCard:hover .hdiwCardBody .hdiwCardmainBody {
  transition: 2s;
}
.hdiwSection .hdiwRow .hdiwCols .hdiwCard:hover .hdiwCardBody .hdiwCardmainBody h4,
.hdiwSection .hdiwRow .hdiwCols .hdiwCard:hover .hdiwCardBody .hdiwCardmainBody p,
.hdiwSection .hdiwRow .hdiwCols .hdiwCard:hover .hdiwCardBody .hdiwCardmainBody .hdiwIcone {
  position: relative;
  transition: 2s;
  z-index: 1;
  filter: brightness(0) invert(1);
  color: var(--rv-white);
}
.hdiwSection .hdiwRow .hdiwCols .hdiwCard:hover .hdiwani {
  transition: 2s;
}
.hdiwSection .hdiwRow .hdiwCols .hdiwCard:hover .hdiwani span {
  transform: translateY(-50%);
  transition: 2s;
}
.hdiwSection .hdiwRow .hdiwCols .hdiwCard .hdiwCardBody {
  padding: 20px 20px 20px 60px;
  transition: 2s;
}
.hdiwSection .hdiwRow .hdiwCols .hdiwCard .hdiwCardBody .hdiwCardmainBody {
  transition: 2s;
}
.hdiwSection .hdiwRow .hdiwCols .hdiwCard .hdiwCardBody .hdiwCardmainBody h4,
.hdiwSection .hdiwRow .hdiwCols .hdiwCard .hdiwCardBody .hdiwCardmainBody p,
.hdiwSection .hdiwRow .hdiwCols .hdiwCard .hdiwCardBody .hdiwCardmainBody .hdiwIcone {
  transition: 2s;
}