@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
/* background: linear-gradient(0, #0f3d4f 5%, #0f3d4f 14%, transparent 137%); */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --rv-radius: 10px;
    --rv-primary: #022061;
    --rv-secondary: #bf0405;
    --rv-third: #0220610a;
    --rv-forth: #ed7d31;
    --rv-bg-primary: #0095aa;
    --rv-bg-secondary: #006c6e;
    --rv-bg-third: #f4761f;
    --rv-white: #ffffff;
    --rv-black: #000000;
    --primary-color: #2e4a59;
    --secondary-color: #f4f4f4;
    --text-color: var(--rv-secondary);
    --accent-color: var(--rv-third);
    --dark-color: #2e4a59;
    --white-color: #FFFFFF;
    --divider-color: #F3F3F3;
    --dark-divider-color: #FFFFFF1A;
    --error-color: rgb(230, 87, 87);
    --default-font: Montserrat, sans-serif;
    --rv-font: Montserrat, sans-serif;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: 16px;
  font-family: var(--rv-font);
  color: var(--rv-black);
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.text-line {
  display: -webkit-box;
  -webkit-line-clamp: var(--textline);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

h1 {
  font-size: 38px;
  line-height: 48px;
}

h2 {
  font-size: 38px;
  line-height: 48px;
}

h3 {
  font-size: 38px;
  line-height: 48px;
}

h4 {
  font-size: 32px;
  line-height: 42px;
}

h5 {
  font-size: 24px;
  line-height: 34px;
}

h6 {
  font-size: 20px;
  line-height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--rv-primary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--rv-primary);
}

.text-line {
  display: -webkit-box;
  -webkit-line-clamp: var(--textline);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.btn {
  color: var(--rv-white);
  border-radius: 2px;
  text-align: center;
  position: relative;
  padding: 10px 25px;
  font-weight: 600;
  display: flex;
  border-radius: 5px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  align-items: center;
  justify-content: center;
  border: unset;
  overflow: hidden;
  box-shadow: 0 0 15px 0 #ddd;
  background-color: var(--rv-primary);
  min-height: 46px;
  border: 2px solid;
}
.btn span {
  position: relative;
  z-index: 1;
  color: var(--rv-white);
}
.btn::before {
  content: "";
  width: 200px;
  height: 200px;
  background-image: url("../../public/images/icone.svg");
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 0;
  transition: 1s;
  transform: translateY(150px);
}
.btn i {
  line-height: 0;
  margin-left: 5px;
}
.btn.btn-primary {
  transition: 1s;
  color: var(--rv-white);
  border-color: var(--rv-primary);
}
.btn.btn-primary span {
  transition: 1s;
  color: var(--rv-white);
}
.btn.btn-primary:hover {
  transition: 1s;
}
.btn.btn-primary:hover span {
  color: var(--rv-black);
  transition: 1s;
}
.btn.btn-primary:hover::before {
  transition: 1s;
  transform: translateY(30px);
}
.btn.btn-primary:hover::after {
  transition: 1s;
  transform: translateY(0px);
}
.btn.btn-white {
  background-color: var(--rv-white);
  color: var(--rv-black);
}
.btn.btn-white:hover {
  background-color: var(--rv-secondary);
  color: var(--rv-black);
}
.btn.btn-secondary {
  background: var(--rv-secondary);
  color: var(--rv-white);
}
.btn.btn-secondary:hover {
  transition: 1s;
}
.btn.btn-secondary:hover span {
  color: var(--rv-black);
  transition: 1s;
}
.btn.btn-secondary:hover::before {
  transition: 1s;
  transform: translateY(30px);
}
.btn.btn-secondary:hover::after {
  transition: 1s;
  transform: translateY(0px);
}

.section {
  padding: 80px 0;
}
@media only screen and (max-width: 1024px) {
  .section {
    padding: 60px 0;
  }
}
@media only screen and (max-width: 768px) {
  .section {
    padding: 40px 0;
  }
}

.rvRow {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.rvRow .rvCol {
  width: 100%;
}

.boxShadow {
  box-shadow: 0 0 15px #bbb;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.boxShadow1 {
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.boxShadow1 h5 {
  color: var(--rv-primary);
}

.rvlist {
  display: flex;
  gap: 10px 30px;
  flex-wrap: wrap;
}
.rvlist li {
  display: block;
  padding: 10px 0;
  position: relative;
  width: 100%;
  box-shadow: 0 0 15px #ddd;
  max-width: calc(50% - 15px);
  transition: 0.5s;
  border-radius: 5px;
  padding-left: 70px;
  background: var(--rv-white);
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .rvlist li {
    max-width: 100%;
  }
}
.rvlist li::before {
  width: 40px;
  height: 40px;
  content: "✔";
  position: absolute;
  left: 15px;
  top: 12px;
  background: var(--rv-secondary);
  color: var(--rv-white);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  z-index: 1;
  border-radius: 5px;
}
.rvlist li::after {
  width: 40px;
  height: 40px;
  content: "";
  position: absolute;
  left: 15px;
  top: 12px;
  background: var(--rv-secondary);
  transition: 0.5s;
  border-radius: 5px;
}
.rvlist li:hover {
  box-shadow: -10px 0 15px #ddd;
  transition: 0.5s;
  transform: translateX(-5px);
}
.rvlist li:hover::before {
  transition: 0.5s;
  font-size: 24px;
}
.rvlist li:hover::after {
  transition: 0.5s;
  transform: rotate(45deg);
}
.rvlist li:last-child {
  padding-bottom: 0;
  border-bottom: unset;
}
.rvlist li b {
  display: block;
}

.rvscard .mt-10 {
  margin-top: 10px;
}
.rvscard .mb-10 {
  margin-bottom: 10px;
}
.rvscard h5 {
  margin-bottom: 10px;
}

.animationbtn {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  overflow: hidden;
  bottom: 0;
}
.animationbtn:hover {
  transition: 2s;
  z-index: 1;
}
.animationbtn:hover span {
  transform: translateY(-50%);
  transition: 2s;
}
.animationbtn span {
  height: 200%;
  transition: 2s;
  border-radius: 50px;
  display: block;
  background-color: var(--rv-primary);
  width: 16.6666666667%;
  transform: translateY(106%);
}
.animationbtn span:nth-child(1) {
  margin-top: 40px;
}
.animationbtn span:nth-child(2) {
  margin-top: 80px;
}
.animationbtn span:nth-child(3) {
  margin-top: 120px;
}
.animationbtn span:nth-child(4) {
  margin-top: 160px;
}
.animationbtn span:nth-child(5) {
  margin-top: 200px;
}
.animationbtn span:nth-child(6) {
  margin-top: 240px;
}

.rvInput,
.rvTextarea {
  padding: 0.75rem;
  background-color: var(--rv-white);
  color: #7e7e7e;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #7e7e7e;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 0;
  border-radius: 0;
  outline: unset;
}
.rvInput:focus, .rvInput:focus-visible,
.rvTextarea:focus,
.rvTextarea:focus-visible {
  border-bottom: 1px solid green;
}

.rvFull .w-full {
  max-width: 100%;
}

.rvtestimonialsectionsection .slick-dots {
  bottom: -50px;
}
.rvtestimonialsectionsection .slick-dots li {
  height: 40px;
}
.rvtestimonialsectionsection .slick-dots li button {
  position: relative;
  padding: 0;
}
.rvtestimonialsectionsection .slick-dots li button::before {
  height: 10px;
  width: 10px;
  background: #bbb;
  content: "";
  top: 9px;
}
.rvtestimonialsectionsection .slick-dots li.slick-active button::before {
  height: 30px;
  width: 10px;
  background: var(--rv-secondary);
  top: 0;
  content: "";
}

.customRange {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: linear-gradient(to right, var(--rv-primary) 0%, var(--rv-primary) var(--progress, 0%), #e5e7eb var(--progress, 0%), #e5e7eb 100%);
  border-radius: 9999px;
  outline: none;
  transition: background 0.3s ease;
}
.customRange::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--rv-primary);
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}
.customRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--rv-primary);
  border-radius: 50%;
  cursor: pointer;
  /* margin-top: -7px; center thumb */
  border: 2px solid white;
}

body.active header {
  z-index: 1;
}