@tailwind base;
@tailwind components;
@tailwind utilities;

/* background: linear-gradient(0, #0f3d4f 5%, #0f3d4f 14%, transparent 137%); */

@mixin mediascreen ($widthpx) {
    @media only screen and (max-width: $widthpx) {
        @content;
    }
}

@layer base {
     :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
        --rv-radius: 10px;
        --rv-primary: #022061;
        --rv-secondary: #bf0405;
        --rv-third: #0220610a;
        --rv-forth: #ed7d31;
        --rv-bg-primary: #0095aa;
        --rv-bg-secondary: #006c6e;
        --rv-bg-third: #f4761f;
        --rv-white: #ffffff;
        --rv-black: #000000;
        --primary-color: #2e4a59;
        --secondary-color: #f4f4f4;
        --text-color: var(--rv-secondary);
        --accent-color: var(--rv-third);
        --dark-color: #2e4a59;
        --white-color: #FFFFFF;
        --divider-color: #F3F3F3;
        --dark-divider-color: #FFFFFF1A;
        --error-color: rgb(230, 87, 87);
        --default-font: Montserrat, sans-serif;
        --rv-font: Montserrat, sans-serif;
    }
    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-size: 16px;
    font-family: var(--rv-font);
    color: var(--rv-black);
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.text-line {
    display: -webkit-box;
    -webkit-line-clamp: var(--textline);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

h1 {
    font-size: 38px;
    line-height: 48px;
}

h2 {
    font-size: 38px;
    line-height: 48px;
}

h3 {
    font-size: 38px;
    line-height: 48px;
}

h4 {
    font-size: 32px;
    line-height: 42px;
}

h5 {
    font-size: 24px;
    line-height: 34px;
}

h6 {
    font-size: 20px;
    line-height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--rv-primary);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--rv-primary);
}

.text-line {
    display: -webkit-box;
    -webkit-line-clamp: var(--textline);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}

.btn {
    color: var(--rv-white);
    border-radius: 2px;
    text-align: center;
    position: relative;
    padding: 10px 25px;
    font-weight: 600;
    display: flex;
    border-radius: 5px;
    max-width: fit-content;
    align-items: center;
    justify-content: center;
    border: unset;
    overflow: hidden;
    box-shadow: 0 0 15px 0 #ddd;
    background-color: var(--rv-primary);
    min-height: 46px;
    border: 2px solid;
    span {
        position: relative;
        z-index: 1;
        color: var(--rv-white);
    }
    &::before {
        content: "";
        width: 200px;
        height: 200px;
        background-image: url('../../public/images/icone.svg');
        background-position: top center;
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 0;
        transition: 1s;
        transform: translateY(150px);
    }
    // &::after {
    //     content: "";
    //     width: 100%;
    //     height: 100%;
    //     z-index: 0;
    //     transition: 1s;
    //     transform: translateY(50px);
    // }
    i {
        line-height: 0;
        margin-left: 5px;
    }
    &.btn-primary {
        transition: 1s;
        color: var(--rv-white);
        border-color: var(--rv-primary);
        span {
            transition: 1s;
            color: var(--rv-white);
        }
        &:hover {
            // background-color: var(--rv-black);
            transition: 1s;
            span {
                color: var(--rv-black);
                transition: 1s;
            }
            &::before {
                transition: 1s;
                transform: translateY(30px);
                // background-position: -332px 14px;
            }
            &::after {
                transition: 1s;
                transform: translateY(0px);
            }
        }
    }
    &.btn-white {
        background-color: var(--rv-white);
        color: var(--rv-black);
        &:hover {
            background-color: var(--rv-secondary);
            color: var(--rv-black);
        }
    }
    &.btn-secondary {
        background: var(--rv-secondary);
        color: var(--rv-white);
        &:hover {
            transition: 1s;
            span {
                color: var(--rv-black);
                transition: 1s;
            }
            &::before {
                transition: 1s;
                transform: translateY(30px);
                // background-position: -332px 14px;
            }
            &::after {
                transition: 1s;
                transform: translateY(0px);
            }
        }
    }
}

.section {
    padding: 80px 0;
    @include mediascreen(1024px) {
        padding: 60px 0;
    }
    @include mediascreen(768px) {
        padding: 40px 0;
    }
}

.rvRow {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    .rvCol {
        width: 100%;
    }
}

.boxShadow {
    box-shadow: 0 0 15px #bbb;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.boxShadow1 {
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, .05);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    h5 {
        color: var(--rv-primary);
    }
}

.rvlist {
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
    li {
        display: block;
        padding: 10px 0;
        position: relative;
        width: 100%;
        box-shadow: 0 0 15px #ddd;
        max-width: calc(50% - 15px);
        transition: .5s;
        border-radius: 5px;
        padding-left: 70px;
        background: var(--rv-white);
        margin-bottom: 20px;
        @include mediascreen(768px) {
            max-width: 100%;
        }
        &::before {
            width: 40px;
            height: 40px;
            content: '✔';
            position: absolute;
            left: 15px;
            top: 12px;
            background: var(--rv-secondary);
            color: var(--rv-white);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .5s;
            z-index: 1;
            border-radius: 5px;
        }
        &::after {
            width: 40px;
            height: 40px;
            content: '';
            position: absolute;
            left: 15px;
            top: 12px;
            background: var(--rv-secondary);
            transition: .5s;
            border-radius: 5px;
        }
        &:hover {
            box-shadow: -10px 0 15px #ddd;
            transition: .5s;
            transform: translateX(-5px);
            &::before {
                transition: .5s;
                font-size: 24px;
            }
            &::after {
                transition: .5s;
                transform: rotate(45deg);
            }
        }
        &:last-child {
            padding-bottom: 0;
            border-bottom: unset;
        }
        b {
            display: block;
        }
    }
}

.rvscard {
    .mt-10 {
        margin-top: 10px;
    }
    .mb-10 {
        margin-bottom: 10px;
    }
    h5 {
        margin-bottom: 10px;
    }
}

$linkdata: 6;
.animationbtn {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    overflow: hidden;
    bottom: 0;
    &:hover {
        transition: 2s;
        z-index: 1;
        span {
            transform: translateY(-50%);
            transition: 2s;
        }
    }
    span {
        height: 200%;
        transition: 2s;
        border-radius: 50px;
        display: block;
        background-color: var(--rv-primary);
        width: calc(100% / $linkdata);
        transform: translateY(100% + $linkdata);
        @for $i from 1 through $linkdata {
            &:nth-child(#{$i}) {
                margin-top: #{$i * 40}px;
            }
        }
    }
}

.rvInput,
.rvTextarea {
    padding: .75rem;
    background-color: var(--rv-white);
    color: #7e7e7e;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #7e7e7e;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 0;
    border-radius: 0;
    outline: unset;
    &:focus,
    &:focus-visible {
        border-bottom: 1px solid green;
    }
}

.rvFull {
    .w-full {
        max-width: 100%;
    }
}

.rvtestimonialsectionsection {
    .slick-dots {
        bottom: -50px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        li {
            height: 40px;
            button {
                position: relative;
                padding: 0;
                &::before {
                    height: 10px;
                    width: 10px;
                    background: #bbb;
                    content: '';
                    top: 9px;
                }
            }
            &.slick-active button {
                &::before {
                    height: 30px;
                    width: 10px;
                    background: var(--rv-secondary);
                    top: 0;
                    content: '';
                }
            }
        }
    }
}