@mixin mediascreen ($widthpx) {
    @media only screen and (max-width: $widthpx) {
        @content;
    }
}

footer.mainFooter {
    background: url('/images/footer-bg.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 50px 0 0 0;
    @include mediascreen(1023px) {
        padding: 50px 0 0 0;
    }
}

.footerNewsletterTitle {
    margin-bottom: 40px;
}

.footerNewsletterTitle h3 {
    font-size: 34px;
    color: var(--rv-black);
}

.newsletterForm .formGroup {
    display: flex;
}

.newsletterForm .formGroup .formControl {
    width: 85%;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4em;
    color: var(--rv-black);
    background: transparent;
    border: 1px solid var(--dark-divider-color);
    border-right: none;
    border-radius: 10px 0 0 10px;
    outline: none;
    box-shadow: none;
    padding: 15px;
    opacity: 80%;
}

.newsletterForm .formGroup .formControl::placeholder {
    color: var(--rv-black);
    opacity: 80%;
}

.newsletterForm .formGroup .newsletterBtn {
    background-color: var(--accent-color);
    width: 15%;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 15px;
    transition: all 0.3s ease-in-out;
}

.newsletterForm .formGroup .newsletterBtn:hover {
    background-color: var(--primary-color);
}

.newsletterForm .formGroup .newsletterBtn img {
    max-width: 28px;
}

.footerLinks h3 {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--rv-black);
    margin-bottom: 25px;
}

.footerLinks ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footerLinks ul li {
    text-transform: capitalize;
    color: var(--rv-black);
    margin-bottom: 10px;
    opacity: 80%;
    transition: all 0.3s ease-in-out;
}

.footerLinks ul li:hover {
    color: var(--accent-color);
}

.footerLinks ul li:last-child {
    margin-bottom: 0;
}

.footerLinks ul li a {
    font-weight: 600;
    color: var(--rv-black);
    &:hover {
        color: var(--primary-color);
        text-decoration: underline;
    }
}

.footerCtaBox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    // background-color: var(--dark-divider-color);
    // border-radius: 20px;
    margin-top: 30px;
    // padding: 40px;
    @include mediascreen(1024px) {
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 20px;
        background-color: var(--dark-divider-color);
        // border-radius: 20px;
        // margin-top: 60px;
        // padding: 40px;
    }
}

.footerLogo {
    width: calc(20% - 10px);
}

.footerLogo img {
    width: 100%;
    max-width: 120px;
}

.footerContactBox {
    width: calc(80% - 10px);
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 30px 80px;
    @include mediascreen(1279px) {
        gap: 30px;
    }
    @include mediascreen(1024px) {
        width: calc(100% - 10px);
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 30px;
    }
}

.footerContactItem {
    position: relative;
}

.footerContactItem::before {
    content: '';
    position: absolute;
    right: -40px;
    bottom: 0;
    background-color: var(--dark-divider-color);
    height: 100%;
    width: 1px;
    @include mediascreen(1279px) {
        right: -15px;
    }
    @include mediascreen(1024px) {
        content: unset;
    }
}

.footerContactItem:last-child::before {
    display: none;
}

.footerContactItem p {
    color: var(--rv-black);
    opacity: 80%;
    margin-bottom: 10px;
}

.footerContactItem h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--rv-black);
}

.footerCopyright {
    padding: 30px 0;
    @include mediascreen(1023px) {
        padding: 30px 0;
    }
}

.footerCopyrightText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include mediascreen(1023px) {
        justify-content: start;
    }
    p {
        color: var(--rv-black);
        margin: 0;
        opacity: 80%;
        align-items: center;
    }
}

.footerMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.footerMenu ul li {
    position: relative;
    display: inline-block;
    text-transform: capitalize;
    line-height: normal;
    color: var(--rv-black);
    margin-right: 40px;
    opacity: 80%;
    transition: all 0.3s ease-in-out;
}

.footerMenu ul li:last-child {
    margin-right: 0;
}

.footerMenu ul li::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -23px;
    background-color: var(--dark-divider-color);
    border-radius: 50%;
    height: 6px;
    width: 6px;
    transform: translateY(-50%);
}

.footerMenu ul li:last-child:before {
    display: none;
}

.footerMenu ul li:hover {
    color: var(--accent-color);
}

.footerMenu ul li a {
    color: inherit;
}

.mainFooter {
    border-top: 1px solid #ddd;
    .rvmfRow {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        @include mediascreen(1024px) {
            flex-wrap: wrap;
        }
        .rvmfCol {
            max-width: 20%;
            width: 100%;
            &:first-child {
                max-width: 36%;
            }
            @include mediascreen(1024px) {
                max-width: 31%;
            }
            @include mediascreen(767px) {
                max-width: 100%;
            }
            @include mediascreen(1024px) {
                &:first-child {
                    max-width: 100%;
                }
            }
        }
    }
    .footerNewsletterBox {
        img {
            height: 100px;
            object-fit: contain;
            // filter: brightness(0) invert(1);
        }
        p {
            color: var(--rv-black);
        }
    }
}

.footersabiLink {
    ul {
        display: flex;
        gap: 20px;
        padding-top: 20px;
        flex-wrap: wrap;
        padding-bottom: 10px;
        li {
            position: relative;
            &::after {
                content: '|';
                position: absolute;
                right: -12px;
                opacity: .5;
                color: var(--rv-black);
            }
            &:last-child {
                &::after {
                    content: unset;
                }
            }
        }
        a {
            color: var(--rv-black);
            transition: .5s;
            font-weight: 600;
            &:hover {
                transition: .5s;
                text-decoration: underline;
            }
        }
    }
}

.footerCtasabidic {
    p {
        color: var(--rv-black);
    }
}

@include mediascreen(1000px) {
    .footerLogo {
        width: calc(100% - 10px);
    }
}

.socialMediaicone {
    ul {
        display: flex;
        gap: 10px;
        li {
            width: 40px;
            height: 40px;
            transition: .5s;
            &:hover {
                transition: .5s;
                a {
                    transition: .5s;
                    &::before {
                        transition: .5s;
                        transform: scale(1) rotate(45deg);
                    }
                }
            }
            a {
                display: block;
                font-size: 20px;
                background: var(--rv-secondary);
                width: fit-content;
                transition: .5s;
                padding: 5px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                border-radius: 5px;
                position: relative;
                z-index: 1;
                svg {
                    fill: var(--rv-black);
                    position: relative;
                    z-index: 1;
                }
                &::before {
                    content: "";
                    transition: .5s;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: var(--rv-secondary);
                    border-radius: 5px;
                    height: 100%;
                    width: 100%;
                    transform: scale(0);
                    transition: all .4s ease-in-out;
                }
            }
        }
    }
}

.rvcufooter {
    .rvcuitems {
        align-items: start;
        display: flex;
        gap: 20px;
        margin-bottom: 10px;
        &:last-child {
            svg {
                font-size: 40px;
                @include mediascreen(767px) {
                    font-size: 18px;
                }
            }
        }
        svg {
            fill: var(--rv-black);
            font-size: 18px;
        }
        a {
            color: var(--rv-black);
        }
    }
}