@mixin mediascreen ($widthpx) {
    @media only screen and (max-width: $widthpx) {
        @content;
    }
}

.sipcal {
    .rvRow {
        .rvCol {
            max-width: calc(50% - 25px);
            @include mediascreen(767px) {
                max-width: 100%;
            }
        }
        .rvsipcard {
            border: 1px solid #ddd;
            padding: 15px;
            box-shadow: 0 0 10px 0 #ddd;
            border-radius: 10px;
            background: var(--rv-white);
        }
    }
}